@charset "UTF-8";

.saudacoes{
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


.saudacoes > p.slideInRight {
    opacity: 1;
    transform: translateX(0);
}

.van{

    background-image: url(../imagens/van.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350;
    width: 350px;
    border-radius: 10px;
    

}
.slideshow-container {
    display: none;}

.dot{
        display: none;
    }
   
    
.sessaoservicos{
    display: flex;
}

.txt-missao{
    width: 95%;
    text-align: center;
}

.galeria{
    display: none;
}


